<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
  </head>
  <body>
    <h3>JerryWelt</h3>
    <a href="/neu/login"><span>로그인</span></a>
    <a href="/neu/signup"><span>회원가입</span></a>
  </body>
</html>
